<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurants</title>
</head>
<body>
{% if user.is_authenticated %}
            <a style="text-align: left ; color: maroon;font-family: 'Operator Mono', 'Source Sans Pro', Menlo, Monaco, Consolas, Courier New, monospace;font-size: 30px"href="{% url 'logout' %}">Logout</a>
    {% else %}
    {% endif %}
    <br>
<p>These are the restaurants near by </p>
{% for value in filter_res %}
    {{ value.Restaurant_Name }}
    {{ value.Restaurant_City }}

{% endfor %}

</body>
</html>