<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Homepage</title>
</head>
<body>
    {% if user.is_authenticated %}
            <a style="text-align: left ; color: maroon;font-family: 'Operator Mono', 'Source Sans Pro', Menlo, Monaco, Consolas, Courier New, monospace;font-size: 30px" href="{% url 'logout' %}">Logout</a>
    {% else %}
    {% endif %}
    <br>
    <p>This is the page that the customer will see when he/she logs in.</p>
    <p><b>Select one address of yours</b></p>
    <a href="{% url 'Cus_categories' %}">Categories</a><br>
    <p>These are yours address areas select one </p><br>
 <select name="areas" form="formid">
        {% for value in vals %}
        <option value="{{ value.Area }}">{{ value.Area }}</option>
        <br>
    {% endfor %}
    </select><br>
    <form method="post" action="{% url "res_area" %}" id="formid">
        {% csrf_token %}
        <button type="submit" value="submit">Submit</button>
    </form>
 </body>
</html>