<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>signup</title>
    <link rel="stylesheet" href="{% static "css/profile.css" %}"/>
</head>
<body>

{% block content %}
  <div class="login">
  <center><h2 style="color: ivory;font-family: 'Operator Mono', 'Source Sans Pro', Menlo, Monaco, Consolas, Courier New, monospace;font-size: 50px">User profile</h2></center>
  <form  method="POST" action="{% url "Cus_profile" %}">
    {% csrf_token %}
      {% for field in Profile_form %}
        {{ field.label_tag }}<br>
        {{ field }}<br>
      {% endfor %}
    <button type="submit" value="submit">Submit</button>
  </form>
  </div>
{% endblock %}
</body>
</html>






