<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>password reset</title>
</head>
<body>
{% block content %}
<center><h2>Password Reset</h2></center>
  <form  method="post">
    {% csrf_token %}
  {% for field in form %}
      {{ field.label }}<br><br>
      {{ field }}<br><br>
      {% if field.help_text %}
          <small ></small>
      {% endif %}
      {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
  {% endfor %}
    <button type="submit">Reset Password</button>
  </form>
{% endblock %}
</body>
</html>