<!DOCTYPE html>
<html>
{% for data in data %}
<head>
    <title>{{ data.Restaurant_Name }}</title>
</head>
<body>
    <div style="text-align: center">
        <h1 style="font-style: italic">{{ data.Restaurant_Name }}&nbsp;Restaurant</h1>
        <span style="font-size:17px">{{ data.Restaurant_Area }}, {{ data.Restaurant_City }}, {{ data.Restaurant_State }}</span>
    </div><br><br>
    <div style="font-size:25px;text-align: center">Menu</div>
    {% for dt in food %}
        {% ifequal dt.Food_Res_ID.Restaurant_ID data.Restaurant_ID %}
            <div style="padding-left: 20%">
                <h2>{{ dt.Food_Name }}</h2>
                <span style="font-size: 20px">Price :</span><span style="font-size:18px;font-weight: bold;font-style: italic"> Rs. {{ dt.Food_Price }}</span><br>
                <span style="font-size: 20px">Discount :</span><span style="font-size:18px;font-weight: bold"> Rs. {{ dt.Food_Discount }}</span><br>
                <span style="font-size: 20px">Category :</span><span style="font-size:18px"> {{ dt.Food_Category_ID.FoodCategory_Name }}</span><br><br>
            </div>
        {% endifequal %}
    {% endfor %}

    <div style="text-align: center">
        <h3 style="font-weight:bold;font-style: italic">What to add a food item??</h3>
        <button type="button" formaction="#"> + Add Item </button>

    </div>
</body>
{% endfor %}
</html>