
<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>signup</title>
    <link rel="stylesheet" href="{% static   "ressignup.css" %}"/>
</head>
<body>

{% block content %}
   <!-- <center><h2>Sign up</h2></center>-->
  <div class="signform">
  <form  method="POST" action="{% url "Res_signup" %}">
    {% csrf_token %}
      {% for field in form %}
        {{ field.label_tag }}<br>
        {{ field }}<br>
        {% if field.help_text %}
          <small ></small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      {% endfor %}
    <button type="submit" value="signup">Sign up</button>
  </form>
  </div>
{% endblock %}

</body>
</html>

