<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Orders</title>


</head>

<body>

  <center><h1>Delivery Orders</h1></center>

<table class="container">

		<tr bgcolor="#99d5ff">
			<th><h1>Customer ID</h1></th>
			<th><h1>Address ID</h1></th>
			<th><h1>Order ID</h1></th>
			<th><h1>Discount</h1></th>
			<th><h1>Total Price</h1></th>
			<th><h1>Order Status</h1></th>
		</tr>
        {% for order in orders %}
		<tr>
			<td>{{ order.customer.Customer_ID }}</td>
			<td>{{ order.address.Address_ID }}</td>
			<td>{{ order.Order_ID7 }}</td>
			<td>{{ order.Discount }}</td>
			<td>{{ order.Total_Price }}</td>
            <td>
                <form action="{% url 'D_delivery:result1' %}" method="post">
                    {%  csrf_token %}
                    {% if order.Status == 1 %}
                                            <button type="submit" name="Delivered" value={{ order.Order_ID }}>Just Delivered</button>

                        {% else %}

                                            Already Delivered

                    {% endif %}
                </form>
            </td>
		</tr>
        {% endfor %}
</table>



</body>

</html>