<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static   "css/login.css"%}"/>
</head>
<body>
<p class="text"> LogIn Option for Customer and Button to go to <a href="{% url 'Del_index' %}">Delivery Guy</a>/<a href="{% url 'Res_index' %}">Restaurant</a>> site.</p>
{% block content %}
<center><h1 style="color: #43A047;font-family: 'Operator Mono', 'Source Sans Pro', Menlo, Monaco, Consolas, Courier New, monospace;font-size: 50px">Login</h1></center>
  <div class="login">
  <form class="logform" method="post">
    {% csrf_token %}
    {{ form.as_p     }}
    <button type="submit">Login</button>
  </form>
  <p class="message">Not registered? <a href="{% url "Cus_signup" %}">SignUp</a></p><br>
  </div>
{% endblock %}
</body>
</html>